
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">IVAN CARRASCO</h1>
    <p class="lead">este Jumbotron fué hecho con amor</p>
  </div>
</div>
<p>Find me in app/views/pages/one.html.erb</p>
